<div class="header">
<h1>Climb Time</h1>
<p id="top">Latest Climbing News and Videos</p>
</div>

<div class="col-xs-6 title-link">
	{{#each articles}}
			<p><h4 data-id="{{this._id}}">{{this.title}}</h4></p>
			<u><a href="{{this.link}}" target="_blank">{{this.link}}</a></u>  
			<br><br>
	{{/each}} 
</div>

<div id="comments" class="col-xs-6 title-link"></div>






