<h1>Hello, universe</h1>
<div id="article"></div>


<div class="xs-col-6 title-link">
	{{#each articles}}
		<p><h4 data-id="{{this._id}}">{{this.title}}</h4></p>
		<u><a href="{{this.link}}">{{this.link}}</a></u>  
		<br><br>
	{{/each}} 
</div>
<div id="comments" class="xs-col-6 title-link">

</div>






