      body { 
      	background-color: #F2F6D0 !important; 
      }
      .header{
      		font-family: 'Stint Ultra Expanded', cursive !important;
      		height: 18em;
      		margin: 0 !important; 
      		margin-bottom: 5em !important;
      		color: white !important;
      		background: linear-gradient(
      		rgba(0, 0, 0, 0.58),
      		rgba(0, 0, 0, 0.58)),
      		url("header.jpg");
      		background-size: cover;
      }
      h1{
      	padding-top: 2em !important;
      	margin-top: 0 !important;
      	text-align: center;
      }
      #top{
      	text-align: center;
      }
      .title-link{
      	margin-right: 0 !important;

      	margin: auto 3em;
      }
      .articles{
      	margin-right: 0 !important;
      }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 30%;
        height: 700px;
      }
      #comments {
        float: left;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
